.slide_portada_home{
    width: 100%;
    height: 80vh;
}
.carousel-inner{
    height: 100%;
}
.carousel-indicators button{
    background-color: #fff !important;
}
.item-carrusel{
    height: 100% !important;
}
.carousel-control-next span{
    color: #fff !important;
}
.slide_portada_home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.img-slider{
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.description-slider h3{
color: #fff;
z-index: 1500;
position: relative;
}
.description-slider p{
color: #fff;
z-index: 1500;
position: relative;
}
.container_mc .row{
    margin-top: 40px;
    padding: 20px;
    overflow: hidden;
}
.container_mc .row .col_mc:nth-child(2){
    margin-top: 40px;
}